/* hero.css file */
.hero-container{
    min-height: 100vh;
    background: no-repeat url('/Gray_profile.JPEG-modified.png');
    background-size: 33%;
    background-position: left 100px top 100px;
}
.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh -60px);
}
.hero-text{
    line-height: 1.25;
    margin-top: 80px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6.25rem;
}
.hero-main p{
 margin: 0;
}
.hidden-lg{
    display: block;
}
/* Responsive adjustments */
@media (max-width: 1024px) {
    .hero-container{
        background-size: 50%;
        background-position: center;
    }
    .hero-content{
     grid-template-columns: 1fr;
     text-align: left;
    }
    .hero-text{
        font-size: 3rem;
    }
}
@media (min-width: 1024px) {
    .hero-content{
     grid-template-columns: repeat(2, 1fr);
    }
    .hidden-lg{
        display: block;
    }
}